<div id="dobot">
	<!-- 控制面板 -->
	<div id="do-control-panel" ng-if="user&&app.isLoading==false">
		<div ng-include="'../app/scripts/header/header.tpl.html'"></div>
		<div ng-include="'../app/scripts/sidebar/sidebar.tpl.html'"></div>
		<div ng-switch="app.curView">
			<div ng-switch-when="dashboard">
				<div ng-include="'../app/scripts/features/dashboard/templates/main.tpl.html'"></div>
			</div>
			<div ng-switch-when="timer">
				<div ng-include="'../app/scripts/features/timer/templates/main.tpl.html'"></div>
			</div>
			<div ng-switch-when="custom_command">
				<div ng-include="'../app/scripts/features/custom_command/templates/main.tpl.html'"></div>
			</div>
			<div ng-switch-when="message">
				<div ng-include="'../app/scripts/features/message/templates/main.tpl.html'"></div>
			</div>
			<div ng-switch-when="music">
				<div ng-include="'../app/scripts/features/music/templates/main.tpl.html'"></div>
			</div>
			<div ng-switch-when="spam_protect">
				<div ng-include="'../app/scripts/features/spam_protect/templates/main.tpl.html'"></div>
			</div>
		</div>
	</div>
	<!-- 登陆注册视图 -->
	<div id="do-login-and-register" ng-if="!user&&app.isLoading==false">
		这是登陆注册页
	</div>
	<!-- loading视图 -->
	<div class="do-loading-common" ng-if="app.isLoading==true">
		loading...
	</div>
	<!-- bower:js -->
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="../bower_components/ngDialog/js/ngDialog.js"></script>
	<script src="../bower_components/angular-translate/angular-translate.js"></script>
	<!-- endbower -->
	<script type="text/javascript" src="/dist/js/templates.js"></script>
	<script type="text/javascript" src="/dist/js/module.js"></script>
	<script type="text/javascript" src="/dist/js/init.js"></script>
</div>
